html, body, #__next {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next, #__next * {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  position: relative;

  .error {
    justify-content: center;
    align-items: center;
    color: #bb0000;
  }

  .loader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);

    img {
      flex: 0 0 auto;
      width: 200px;
      height: 200px;
      position: absolute;
      align-self: center;
    }
  }

  button {
    height: 40px;
    flex-grow: 0;
    justify-content: center;
    align-self: center;
    background: #ffa330;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border: #ffe5c3c2 3px solid;
    border-radius: 5px;
    padding: 7.5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 200ms ease-in-out;
    outline: none;

    &[disabled] {
      background: rgb(200, 200, 200);
      border: rgb(220, 220, 220) 3px solid;
    }

    &:hover:not([disabled]) {
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
      transition: box-shadow 200ms ease-in-out;
    }

    &:active {
      top: 2px;
    }
  }

  header {
    flex-flow: row;

    nav {
      flex: 1 0 auto;
      flex-flow: row;
      justify-content: space-between;
      border-bottom: 1px solid rgba(200, 200, 200, 0.3);
      padding: 5px;

      #links, #user {
        flex: 0 0 auto;
        flex-flow: row;

        > button {
          margin: 0 2.5px;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  h1 {
    align-items: center;
  }

  /* ***** ***** ***** ***** *****
   * *
   * * Index - Introduction
   * *
   * ***** ***** ***** ***** *****/

  #introduction {
    display: flex;
    flex-flow: row;
    justify-content: center;

    > * {
      flex: 1 1 auto;
      width: 100%;
      max-width: 400px;
      padding: 40px;

      &:first-child:not(:last-child) {
        padding-right: 0;
      }

      > * {
        flex: 0 0 auto;
      }

      label {
        margin: 0 0 5px 0;
      }

      input {
        margin: 0 0 10px 0;
      }

      > button {
        align-self: start;
        cursor: pointer;
      }
    }
  }

  /* ***** ***** ***** ***** *****
   * *
   * * Index - Returning Customer
   * *
   * ***** ***** ***** ***** *****/

  #reception {

    #basket {
      align-self: center;
      min-width: 400px;
      width: 80%;
      max-width: 800px;

      > button {
        align-self: center;
        margin-top: 20px;
      }

      .product {
        flex-flow: row;
        border: 1px solid rgba(200, 200, 200, 0.7);

        img {
          flex: 0 0 auto;
          max-width: 80px;
          max-height: 80px;
          margin: 10px;
        }

        .info {
          flex: 1 1 auto;
          justify-content: center;
        }

        .name {
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 10px;
        }

        .quantity {
          flex: 0 0 auto;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;

          border-radius: 10px;
          font-size: 32px;

          .plus, .minus {
            flex: 0 0 auto;
            width: 30px;
            height: 30px;
            font-size: 18px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;

            &:active {
              top: 2px;
            }
          }

          .count {
            flex: 0 0 auto;
            width: 40px;
            height: 40px;
            font-size: 32px;
            border: 1px solid rgba(200, 200, 200, 0.7);
            border-radius: 5px;
            justify-content: center;
            align-items: center;
          }

        }

        > button {
          margin-right: 10px;
        }
      }
    }
  }

  /* ***** ***** ***** ***** *****
   * *
   * * Products
   * *
   * ***** ***** ***** ***** *****/

  #products {

    flex-flow: row;
    flex-wrap: wrap;
    padding: 0px 20px 40px;
    justify-content: space-around;

    .product {
      width: 250px;
      height: 450px;
      margin: 40px 20px 0;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
      transition: box-shadow 200ms ease-in-out;

      &:hover {
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
        transition: box-shadow 200ms ease-in-out;
      }

      * {
        margin-bottom: 10px;
      }

      span {
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .title {
        height: 60px;
      }

      img {
        max-height: 200px;
      }

      .price {
        height: 50px;
        font-weight: bold;
        font-size: 22px;
      }

      .stock {
        height: 40px;
        font-style: italic;
      }
    }
  }

  #admin {
    flex-flow: row;

    #admin-products {
      flex: 1 0 auto;
      flex-flow: column;
      width: 80%;
      min-width: 400px;

      .product {
        height: 160px;
        flex: 1 0 auto;
        flex-flow: row;
        padding: 10px;
        border: 1px solid black;
        border-radius: 20px;
        margin: 0 20px 20px 20px;

        .graphic {
          width: 100px;
          height: 140px;
          justify-content: center;
          align-items: center;

          img {
            max-width: 100px;
            height: 80px;
            margin: 10px 0;
          }

          .stock, .price {
            flex-flow: row;
            flex: 0 0 auto;
            height: 20px;

            label {
              margin-right: 10px;
            }

            input {
              flex: 1 1 auto;
              width: 100%;
              border: none;
              border-bottom: 1px solid rgba(200, 200, 200, 0.6);
              outline: none;
            }
          }
        }

        .info {
          flex: 1 1 auto;
          margin: 0 10px;
          height: 140px;

          div {
            margin-bottom: 5px;
            flex-flow: row;
            flex: 1 1 auto;

            &.description {
              flex-flow: column;

              label {
                margin-right: 0;
                margin-bottom: 5px;
              }
            }

            &:last-of-type {
              margin-bottom: 0;
            }

            label {
              margin-right: 10px;
            }
          }

          input {
            flex: 1 1 auto;
            border: none;
            border-bottom: 1px solid rgba(200, 200, 200, 0.6);
            outline: none;
          }

          textarea {
            flex: 1 1 auto;
            resize: none;
            margin-bottom: 5px;
          }
        }

        .buttons {
          justify-content: space-around;
          align-items: center;
        }

      }
    }

    #admin-create-product {
      width: 20%;
      min-width: 200px;
      max-width: 400px;
      flex: 0 0 auto;
    }
  }

}


